.banner {
	background-image: linear-gradient(-220deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.2) 50%), url(../../images/background.jpg);
	color: white;
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}

